<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
    <section name="MovieFileNamerConfiguration" type="Illallangi.MovieFileNamer.MovieFileNamerConfiguration,Illallangi.MovieFileNamer" />
  </configSections>
  <MovieFileNamerConfiguration From="Curtin File Server &lt;curufs01@illallangi.com&gt;" To="Andrew Cole &lt;andrew.cole@illallangi.com&gt;" TheMovieDbApiKey="a03c72fa638df0967238e42aad2eca16" Directory="z:\media\movies.yify" SmtpServer="mail.tpgi.com.au">
    <Directories>
      <add Path="z:\media\movies" Name="Generic Movies" />
      <add Path="z:\media\movies.dvdrips" Name="DVD Rips" />
      <add Path="z:\media\movies.fanrips" Name="Fan Rips" />
      <add Path="z:\media\movies.unknown" Name="Unknown Movies" />
      <add Path="z:\media\movies.yify" Name="YIFY Movies" />
    </Directories>
  </MovieFileNamerConfiguration>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="WarnFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="FatalFileAppender" />
      <appender-ref ref="ErrorConsoleAppender" />
    </root>

    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\Movie File Namer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[DEBUG: %message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;Context&quot; type=&quot;1&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\Movie File Namer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;Context&quot; type=&quot;1&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="WarnFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\Movie File Namer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;Context&quot; type=&quot;2&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\Movie File Namer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;Context&quot; type=&quot;3&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="FatalFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${LOCALAPPDATA}\Illallangi Enterprises\Movie File Namer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&lt;![LOG[FATAL: %message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}+0&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;Context&quot; type=&quot;3&quot; thread=&quot;%thread&quot; file=&quot;%thread&quot;&gt;%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="FATAL" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="ErrorConsoleAppender" type="log4net.Appender.ConsoleAppender"></appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>